.headerWrapper {
  background-color: black;
}

.header {
  width: var(--width-wrapper);
  margin: 0 auto;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 1200px;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  // Стили для изображения логотипа
}

.navList {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navItem {
  margin-left: 20px;
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;

  &:hover {
    color: #aaa;
  }
}