.button {
  border: 1.5px solid #000000;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  background-color: white;
  color: black;
  font-size: 16px;
  transition: background-color 0.5s, color 0.5s;
  text-align: center;

  &:hover {
    background-color: var(--blue-ligth-color);
    border: 1px solid var(--blue-ligth-color);
  }

  &-l-button {
    width: 296px;
    height: 40px;
    //padding: 12px 24px;
    //font-size: 18px;
  }

  &-m-button {
    width: 187px;
    height: 40px;
    //padding: 8px 16px;
    //font-size: 16px;
  }
  &-selected {  // Новый класс для активного состояния
    background-color: black; // Черный фон для активной кнопки
    color: white; // Белый текст для активной кнопки
    border: 1px solid black; // Черная рамка для активной кнопки
  }
}