.filterOptions {

  margin: 0 auto;
  padding: 0 20px;
  width: 1316px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  border-bottom: 1px solid #ccc;
  min-width: 1200px;
}