.filterOptions {
  margin:  auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  width: 1360px;
  display: block;
  justify-content: space-between;
  align-items: center;
  //height: 44px;
  border-bottom: 1px solid #ccc;
  min-width: 1200px;
  //font-weight: 600;
  box-shadow: 0px 10px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 5px 5px;
  background-color: #f8f8f8;
}

.dateCityFilterContainer {
  padding: 10px 0px;
  border-bottom: 1px solid #ccc;
}
.categoryFilterContainer {
  margin-top: 10px;
}
