.filterOptions {
  margin:  auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: var(--width-wrapper);
  display: block;
  justify-content: space-between;
  align-items: center;
  //height: 44px;
  border-bottom: 1px solid #ccc;
  min-width: 1200px;
  //font-weight: 600;

}

.dateCityFilterContainer {
  padding: 10px 0px;
  border-bottom: 1px solid #ccc;

}
.categoryFilterContainer {
  margin-top: 10px;

}