:root {
  --blue-ligth-color: #448A9B;
  --width-wrapper: 1280px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //font-size: 20px;
  //font-weight: 500;
  //line-height: 30px;
}

// TODO focus
//:focus {
//  outline: #000000 auto 1px;
//}

li {
  list-style-type: none;
}

input,
//button,
textarea,
select {
  margin: 0;
  font: inherit;
}

p{
  //font-size: 18px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6, {
  font-weight: 400;
  font-size: 36px;
}
.homeWrapper {
  padding: 0 40px;
}