.filterBarWrapper{
  position: sticky; /* Элемент будет "липким" */
  top: 0; /* Элемент будет "прилипать" к верхней части окна при прокрутке до него */
  z-index: 1000; /* Установка z-index для того, чтобы элемент находился поверх других элементов */
  background: #ffffff;
}
.filterOptionWrapper {
  position: absolute;
  background-color: #ffffff;
  width: 100%; /* Настройте ширину по необходимости */

//  top: 100%; /* Отодвинуть ниже filterBar */
//  background-color: #ffffff;
//  transition: max-height 0.3s ease-in-out, visibility 0.3s ease-in-out;
//  max-height: 0; /* Изначально не виден */
//  visibility: hidden; /* Скрыт */
//  overflow: hidden; /* Предотвращение отображения содержимого за пределами блока */
//}
//
//.filterOptionWrapper.open {
//  max-height: 500px; /* Максимальная высота при открытии */
//  visibility: visible; /* Сделать видимым */
}

.filterBar {
  margin: 0 auto;
  width: var(--width-wrapper);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  border-bottom: 1px solid #ccc;
}

.filterButton {
  height: 40px;
  background: #ffffff;
  //padding: 5px 20px;
  border: 1.5px solid #000000;
  border-radius: 5px;
  //padding: 0 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content:center;

  .filterIcon {
    width: 10px;
    height: 16px;
    margin-left: 5px;
  }

  &:hover {
    background-color: var(--blue-ligth-color);
    border: 1.5px solid #448b9b;

  }
}

.searchBar {
  display: flex;
  align-items: center;

  &:hover .searchInput {
    border: 1.5px solid #448b9b;
  }

  &:hover .searchButton {
    border: 1.5px solid #448b9b;
    background-color: #448b9b;
  }

  .searchInput {
    height: 40px;
    border-radius: 5px 0px 0px 5px;
    flex-grow: 1;
    padding: 5px;
    border: 1.5px solid #000000;
  }

  .searchButton {
    height: 40px;
    width: 45px;
    background: #000000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;

    .searchIcon {
      width: 20px;
      height: 20px;
      vertical-align: middle;
    }

  }

}
