.filterBarWrapper{
}
.filterOptionWrapper {
}

.filterBar {
  margin: 0 auto;
  width: var(--width-wrapper);
  //width: 1316px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  border-bottom: 1px solid #ccc;
}

.filterButton {
  background: #ffffff;
  padding: 5px 20px;
  border: 1.5px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;

  .filterIcon {
    width: 10px;
    height: 16px;
    vertical-align: middle;
    margin-bottom: 1px;
    margin-left: 10px;
  }

  &:hover {
    background-color: var(--blue-ligth-color);
    border: 1px solid var(--blue-ligth-color);

  }
}

.searchBar {
  display: flex;
  align-items: center;

  .searchInput {
    height: 30px;
    border-radius: 5px 0px 0px 5px;
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #000000;


  }

  .searchButton {
    height: 30px;
    width: 45px;
    background: #000000;
    color: white;
    //padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;

    .searchIcon {
      width: 20px;
      height: 20px;
      vertical-align: middle;
    }

    &:hover {
      background-color: var(--blue-ligth-color);
    }

  }

}
