
.postWrapper {

}
.postCard{
  border: 1px solid #000000;
  border-radius: 0 0 5px 5px;
  margin-bottom: 10px;
}
.postHeader{
  //background: linear-gradient(to right, #103140, #432360); // цвет
  background: black;
  display: flex;
  height: 46px;
  justify-content: space-between;
  //width: auto;
  padding: 0 70px;
  align-items: center;
}
.postCategories{
display: flex;
  color: white;
  align-items: center;
  gap: 20px;
}
.postCategory{
font-size: 20px;
}
.postSeparator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;

}
.postDate{
  font-size: 20px;
  color: white;

}
.postContentWrapper {
  padding: 10px 70px;

}
.postTileWrapper{
  display: flex;
  justify-content: space-between;
  align-items: end;

}
.postTitle{
  font-size: 42px;
  margin-left: 30px;
}
.postCity{
font-size: 24px;
}
.postDescription {
  font-size: 20px;
}
.postContacts{
  display: flex;
  justify-content: center;
  margin: 10px 0;
  gap: 30px;
}
//.postTelegram{
//  padding: 2px 5px;
//  border-radius: 5px;
//  align-items: center;
//  display: flex;
//  background-color: #24A1DE;
//  filter: blur(1px);
//  //background-color: rgba(36, 161, 222, 1);
//  //backdrop-filter: blur(10px);
//}


.postWhatsapp{
  position: relative;
  align-items: center;
  display: flex;
  padding: 5px 10px;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
.postWhatsapp::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:  rgba(97, 210, 45, 1);
  filter: blur(10px);
  z-index: -1;
}

.postTelegram {
  position: relative;
  align-items: center;
  display: flex;
  padding: 5px 10px;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
   }

.postTelegram::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(36, 161, 222, 1);
  filter: blur(10px);
  z-index: -1;
}

.postNumber{
  position: relative;
  align-items: center;
  display: flex;
  padding: 5px 10px;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;

}
.postNumber::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:  rgba(251, 255, 48, 1);
  filter: blur(10px);
  z-index: -1;
}




